/* font-family: "Fredericka the Great", cursive;
font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif;
font-family: "Rampart One", cursive; */

/* colors
rgb(130, 50, 28) 
rgb(153, 20, 35)
rgb(49, 45, 41)
rgb(109, 104, 104)
*/

:root {
  --primary-color: #09194f;
  --secondary-color: rgb(208, 231, 227);
  --heading-font-family: "Fredericka the Great", cursive;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  font-family: var(--heading-font-family);
  color: var(--primary-color);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 40px;
  opacity: 95%;
}

p {
  line-height: 30px;
  opacity: 90%;
}

hr {
  border: 5px solid var(--primary-color);
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: 500;
}

.hero h2,
.about-section-content h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  font-family: var(--default-font-family);
  color: black;
  opacity: 80%;
}

.about-section-content h1 {
  font-size: 64px;
}

.about-section-heading {
  font-size: 96px;
}

.about-section {
  background-color: var(--secondary-color);
}

.about-section-content {
  padding: 20px 30px;
}

.about-section-image {
  padding: 30px;
  text-align: right;
}

.annelize-image {
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--primary-color);
}

.about-me {
  text-align: center;
  /* background-color: var(--secondary-color); */
  padding: 0px 20px;
}

.btn-branding {
  font-size: 18px;
  color: white;
  background-color: var(--primary-color);
  padding: 15px 30px;
  line-height: 27px;
}

.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 15px 30px;
}

.project-description {
  padding: 80px 60px;
}

.image-background {
  background-color: rgb(208, 231, 227);
  border-radius: 6px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero p {
    font-size: 30px;
  }

  .project-description {
    padding: 20px 20px;
    text-align: center;
  }

  .about-section-content {
    text-align: center;
  }

  .about-section-image {
    text-align: center;
  }

  .about-section-content h1 {
  font-size: 46px;
}

.about-section-heading {
  font-size: 50px;
}

}

@media (min-width: 993px) and (max-width: 1300px) {
  .project-description {
    padding: 40px 20px;
  }

  h2 {
    font-size: 50px;
  }
}
